PORT=8080

# Secret key for all encryption throughout the application
SECRET_KEY=

# Database connection string
DATABASE_URL=

# Google oauth credentials
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=

# Cloudinary credentials
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Gemini API keys
GEMINI_API_KEY=
